[jira]
url="https://YOUR_URL.atlassian.net"
username="YOUR_EMAIL@YOUR_DOMAIN"
token="YOUR_ATLASSIAN_TOKEN"
project="PROJECT_KEY"

# replace the below with the issue-types to use for top-level
# and sub-task; note the subtask_type must be defined as a subtask ticket type in Jira!
issue_type="Bug"
subtask_type="Sub-task" 

# Uncomment the heading and whichever severities you wish to map
#[jira.priority]
#CRITICAL="P0"
#HIGH="P1"
#MEDIUM="P2"
#LOW="P3"

[endor]
namespace="ENDOR_NAMESPACE"
api_key="ENDOR_API_KEY"
api_secret="ENDOR_API_SECRET"
