[jira]
url="https://YOUR_URL.atlassian.net"
username="YOUR_EMAIL@YOUR_DOMAIN"
token="YOUR_ATLASSIAN_TOKEN"
project="PROJECT_KEY"
issue_type="ISSUE_TYPE_NAME"

[endor]
namespace="ENDOR_NAMESPACE"
api_key="ENDOR_API_KEY"
api_secret="ENDOR_API_SECRET"